
body {
    color: white;
    background-color: black;
    font-family: "Chakra Petch", sans-serif;
}

section{
    background-color: rgb(136, 8, 8);
    padding-bottom: 5%;
    padding-top: 5%;
    display:flex;
    justify-content: center;

}
header{
        border-bottom: solid 2px rgb(54, 122, 26);
        padding: 20px;
        font-size: 32px;
        color: rgb(54, 122, 26);
}

.texto {
    margin-right: 80px;
}

h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
img {
    height: 200px;
}

.videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.videos img:hover {
    opacity: 0.5;
    height: 200px;
}
.videos img:hover {
    opacity: 1.0;
    border: 1px solid black;
}