
body {
    color: white;
    background-color: black;
}

section{
    background-color: rgb(202, 12, 12);
    padding-bottom: 5%;
    padding-top: 5%;
    display:flex;
    justify-content: center;


}